@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$Roboto: "Roboto", sans-serif;

$principal: rgb(92, 111, 104);
$componente: rgba(167, 255, 246);
$fondo: rgb(138, 163, 155);

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
};