@import '../Variables/variables';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $principal;
    width: 100%;
    position: absolute;

    h1 {
        font-size: large;
        color: rgb(255, 255, 255);
        text-shadow: 0px 1px 5px #424242;
        margin-left: 10px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 5px;
    }

    button {
        font-size: small;
        background-color: $componente;
        color: black;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        padding: 5px 5px;
        margin-right: 10px;
    }

    button:hover {
        box-shadow: 0px 1px 5px #1b1b1b;
        scale: 115%;
        transition: 0.5s;
    }

    @include breakpoint(md) {
        h1 {
            font-size: xx-large;
            margin-left: 50px;
        }

        ul {
            gap: 15px;
        }
        
        button {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
            padding: 8px 15px;
            border-radius: 10px;
            margin-right: 50px;
        }
        
    }
}